/* Holiii otra vez */
body{
	font-family: 'Merriweather Sans', sans-serif;
}

/*estilos header*/
header{
	padding-bottom: 10px;
}

.alinear{
	float: left;
}

.navbar-default{
	background-color: white;
	border:none;
	border-radius: 0;
}

.color-menu{
	border-bottom:solid thin red;
}

.nav a:hover{
	border-bottom:solid 2px red;
}

.alinear-menu{
	padding-left: 0;
}

.logo a{
	font-size: 22px;
	color:black;
	margin-bottom: 20px;
}

a span{
	color:red;
}

.buscar{
	border:none;
	width: 60px;
	background-color: red;
	border-radius:0;
	font-size: 18px;
	color:white;
}

/*estilos home*/
#home{
	margin-top: 30px;
}

.etiqueta{
	background-color: red;
	font-size: 15px;
	color:white;
	width: 120px;
	padding:5px;
	margin: 0;
	left: 0;
}

.principal{
	background-image: url(../img/1.png);
	background-size: cover;
	height: 200px;
}

.imagen-full img{
	width: 100%;
}